@mixin clearfix {
    &::after{
        content: "";
        display: table;
        clear: both;
    }
}

@mixin centeritem{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
}

// Media Query MANAGER

// @mixin respond-phone{
//     @media (max-width: 600px) { @content }
// }

/*
 $breakpoint argument choices:
phone
tab-port
tab-land
 bid desktop

 ORDER: Base + typography > general layout + grid > page layout > component
*/

@mixin respond($breakpoint){
    @if $breakpoint == phone {
        @media only screen and (max-width:37.5em) { @content };  //600px
    }
    @if $breakpoint == port {
        @media only screen and (max-width:56.25em) { @content }; //900px
    }
    @if $breakpoint == land {
        @media only screen and (max-width:75em) { @content };   //1200
    }
    @if $breakpoint == desktop {
        @media only screen and (min-width:112.5em) { @content }; //1800
    }
}