*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    font-size: 62.5%; //1rem = 10px; 10x16=62.5%

    @include respond(land){// width < 1200
        font-size: 56.25%; // 1rem =9px, 9/16=50%                                                                                                                                      
    }

    @include respond(port){ // width < 900
        font-size: 50%; // 1rem =8px, 8/16=50%
    }

    @include respond(desktop){
        font-size: 75%;// 1rem =12, 9/16=50%
    
    }
}

body{
    box-sizing: border-box;
    padding: 2rem;

    @include respond(tab_port){ 
         padding: 0; 

}

}